
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Déconnexion</h3>
                </div>
                <div class="panel-body">

                    <a href="/index" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-th-list"></span> Retour au menu</a>
                    <a href="/usagers/logout" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-off"></span> Confirmer déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
-->